<div class="main p-2 " >
    <div class="d-flex gap-2 align-items-center">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" width="40">
        <h1>Find Github user:</h1>
    </div>
    
    <div class="form-control w-75 ">
        <form (ngSubmit) = "getUser(username)" class="d-flex gap-3 align-items-center justify-content-center">
            <label class="form-label">Username:</label>
            <input class="form-control w-50" type="text" [(ngModel)]="username" name="username" id="username">
            <button class="btn border border-light-2 ">Find</button>
        </form>
    </div>
    <div class="d-flex justify-content-between p-5 gap-5">
        <div class="border border-light rounded shadow-sm p-4 usercard">
            <div class="d-flex gap-2"><h1>User Info: </h1><h1>{{user.name}}</h1></div>
            <a href={{user.html_url}}><h2>{{user.login}}</h2></a>
            <p>id: {{user.id}}</p>
            <img src={{user.avatar_url}} width="150"  alt="">
        </div>

        <div class="border border-light p-4 shadow-sm">
            <h4>Searches:</h4>
            <div *ngFor = "let user of savedSearch">
                <ul>
                    <li>{{user}}</li>
                </ul>
                
            </div>
        </div>
    </div>      
    
</div>

